/* CSS RESET */
h1 {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    margin-left: 1px;
    background-color: white;
    color: #426B1F;
}



/* DESIGN */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 800 */

.p-main {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
  font: bolder;
}

.italic {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    color: #426B1F;
  }

.alt-text {
    font-size: smaller;
    color: black;
    font-family: sans-serif;
    font-family: "Newsreader", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: regular;
}



.rounded {
    color: white;
    border-radius: 8px;
    background: #426B1F;
    padding: 6px;
    width: 200px;
    height: 150px;
  }

  

/* HEADER */

a {
    text-decoration: none;
}

.main-nav li {
    display: inline-block;

}

.persistent-header {
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3%;
    
}

.box li {
    display: inline-block;
}

/* MAIN */


.flex {
    display: flex;
    flex-direction: row;
    width: 1;
    justify-content: space-evenly;
}





/* FOOTER */