/* CSS RESET */
h1 {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    margin-left: 1px;
    background-color: white;
    color: #426B1F;
}

h2 {
    margin-top: 10%;
    font-size: 150%;
}

/* FONTS */

.p-main {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
  font: bolder;
  margin-right: 0%;
}

.italic {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    color: #426B1F;
  }

.alt-text {
    font-size: smaller;
    color: black;
    font-family: sans-serif;
    font-family: "Newsreader", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: regular;
}

.rounded {
    color: white;
    border-radius: 8px;
    background: #426B1F;
    padding: 6px;
    width: 200px;
    height: 150px;
    font-size: smaller;
  }

  

/* HEADERS, LINKS, BOXES */

a {
    text-decoration: none;
}

.persistent-header {
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #f1f1f1;
    
}

.box li {
    display: inline-block;
    font-size: large;
}

.box-2 li {
    display: inline-block;
    font-size:x-large;
}

.box {
    padding-left: 6%;
;

}

/* MAIN */

main {
    width: 75%;
    margin: 0 auto;
    background-color: white;
}

.image-container{
    display: flex;
    width: 40%;
    justify-content: center;
    margin: 0 auto; 
}

#img {
    width: 100%;
    max-height: 265px;
    aspect-ratio:inherit;
    margin: 0% 10%;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.flex {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

/* FOOTER */
.sticky-footer {
    background: white;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

}

.flex-footer {
    display: flex;
    flex-direction: row;
    height: 1;
    justify-content: center;
}



/* ABOUT ME PAGE */


.container,
.body,
.body:nth-of-type(2),
.about-img,
.about-img:nth-of-type(2) {
    box-sizing: border-box;
}


.head1 {

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

 .body {
    display: inline-block;
    margin: 3% 0;
}

.body:nth-of-type(2) {
    direction: rtl;
}

.about-img {
    float: inline-start;
    width: 25%;
    aspect-ratio:inherit;
    margin: 0% 10%;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.about-img:nth-of-type(2) {
    float: right;
}

#about-span {
    font-size: larger;
}